<div class="container">
  <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address%></p>
    <p> <%=@restaurant.phone_number %> </p>

    <% @restaurant.reviews.each do |review| %>
      <p><%= '🌟' * review.rating %> | <%= review.content %></p>
    <% end %>



  <%= link_to 'Back', restaurants_path %>
  <br>
  <%= link_to 'Write a review', new_restaurant_review_path(@restaurant) %>
</div>
